<div class="login">
    <h1>Login to your account</h1>
     <form class="themed-form" action="/login" method="POST">
        <div class="field">
            <label for="email">E-Mail</label>
            <input type="email" name="email"  placeholder="golgappy@dahibary.com">
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="******">
        </div>


       <div class="field">
            <button type="submit">Login</button>
            <div class="register">
            Don't have an account yet? 
            <a href="/register"><button type="button">Register</button></a>
            </div>

       </div>
    </form>
</div>