<div class="ProductPage">
    <div class="section">
        <div class="leftSection">
            <img src={{product.imgUrl}} alt={{product.title}}>
        </div>
        <div class="rightSection">
            <p>{{product.description}}</p>
       <form action="/cart" method="POST">
        <button>Add To Cart</button>
        <input type="hidden" name="productId" value={{product._id}}>
       </form>
        </div>
    </div>
</div>

