<div class="register">
    <h1>Create new account</h1>
    <form action="/register" method="POST">
        <div class="field">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Golgappy">
        </div>

        <div class="field">
            <label for="email">E-Mail</label>
            <input type="email" name="email" placeholder="golgappy@dahibary.com">
        </div>

        <div class="field">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="******">
        </div>

        <div class="field">
            <label for="rePassword">Re-Enter Password</label>
            <input type="password" name="rePassword" placeholder="******">
        </div>



        <div class="field">
            <button type="submit">Register</button>
        </div>
    </form>
</div>