.ProductPage {
    color:white;
  .section {
      .leftSection{
          width:25%;
          img{
              display:block;
              width:100%;
          }
      }
      display:flex;
      .rightSection{
          position:relative;
          width:75%;
          padding:10px;
          display:flex;
          flex-direction: column;
          justify-content:center;
        background-color:rgb(243, 242, 242);
          p{
              vertical-align: middle;
              color:black;
              padding:0;
              margin:0;
            
          }
          button{
            padding:15px;
            cursor: pointer;
            transition: all .2s;
            border:1px solid white;
            text-transform: uppercase;
            position:absolute;
            bottom:20px;
        }
        button:hover
        {
            background-color:white;
        }
      }
  }
}
